body {
    background-image: linear-gradient(to right, #16bffd, #d39d38,#ff6a80);
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    
    
}

.login-form{
    border-radius: 1em;
    text-align: center;
    width: 270px;
    margin: 8% auto 8; 
    padding: 20px;
    box-shadow: 3px rgba(0,0,0,0.8);
    background-image: url(1.jpg);
    
}
.input{
    border-radius: 10px;
    padding: 8px;
    margin: 10px 0; border: 2px solid white;
}
h1{
    color: white;
}
p{
    color: white;
}
button{
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    background-color: #f79d00;
}